[submodule "detection_ros2_node_hailo8/include/3rdParty/hailo8_yolo_interface"]
	path = detection_ros2_node_hailo8/include/3rdParty/hailo8_yolo_interface
	url = https://gitlab.ub.uni-bielefeld.de/fporrmann/hailo8_yolo_interface.git
